Django==3.2.8
psycopg2-binary==2.9.1
python-decouple==3.5
djangorestframework==3.12.4
django-cors-headers==3.10.0
django-rq==2.4.1
rq==1.10.0
redis==3.5.3
requests==2.26.0
coverage==6.0.2
pre-commit==2.15.0
django-filter
django-nested-inline==0.4.4